.sidebar-container {
    @include layout(column, center);
    min-height: 100vh;
    background: $palette-color-1;
    width: 60px;
    @include font-props(600, $font-size-1, $palette-color-4);
    transition: width 500ms ease-in-out;
    position: fixed;
    .logo-container {
        @include layout(row, flex-start);
        color: inherit;
        align-items: center;
        padding: 12px;
        gap: 14px;
        text-decoration: none;
        .logo {
            height: 36px;
        }
        .menu-title{
            font-size: 0.1px;
            transition: font-size 500ms ease-in-out;
        }
    }
    .menu-items-container, .login-container{
        @include layout(column, center);
        justify-self: center;
        flex: 1;
        &.login-container {
            @include layout(column, flex-end);
            .menu-logo-signup {
                padding: 8px;
                height: 36px;
            }
        }
        .menu-item-container {
            @include layout(row);
            align-items: center;
            cursor: pointer;
            height: 60px;
            .menu-logo {
                @include layout(row, center);
                align-items: center;
                height: 30px;
            }
            .menu-title {
                @include font-props(200, $font-size-3, $palette-color-4);
                font-size: 0.1px;
                transition: font-size 500ms ease-in-out;
            }
            &:hover{
                background: $palette-color-3;
            }
        }
    }
    &:hover {
        width: 264px;
        .menu-title {
            font-size: 1.5rem;
        }
        .menu-item-container {
            .menu-title {
                font-size: 1.25rem;
            }   
        }
    }
}
